<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{% block title %}My Score{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="keywords" content="au theme template">
	<link href="theme.css" rel="stylesheet" media="all">
</head>
<body bgcolor="bisque">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
